altair==4.2.2
argon2==0.1.10
pandas==1.5.3
pandas_profiling==3.2.0
Pillow==9.5.0
Requests==2.31.0
setuptools==65.5.0
streamlit==1.23.1
streamlit-aggrid==0.3.4.post3
streamlit-authenticator==0.2.1
streamlit-camera-input-live==0.2.0
streamlit-card==0.0.4
streamlit-cookies-manager==0.2.0
streamlit-echarts==0.4.0
streamlit-embedcode==0.1.2
streamlit-extras==0.2.7
streamlit-faker==0.0.2
streamlit-image-coordinates==0.1.3
streamlit-keyup==0.2.0
streamlit-login-auth-ui @ git+https://github.com/fsmosca/streamlit_login_auth_ui.git@15309bc86e106ffde62dadf2ea1b1b82da59fff8
streamlit-lottie==0.0.3
streamlit-option-menu==0.3.2
streamlit-pandas-profiling==0.1.3
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==1.0.2
trycourier==4.4.0
ydata_profiling==4.2.0
