.css-1x8cf1d.edgvbvh10{
    color:blue;
    position: absolute;
    top: 100px;
    
}

.css-12ttj6m.epcbefy1{
    border-color: aliceblue;
}

footer{
    visibility: hidden;
}

.css-1wivap2.e1vioofd3{
    color:black;
}




